body{
  font-family: 'Bree Serif', sans-serif;
  text-align: center;
  background: #0E1C36;
  color: white;
  border-top: 30px solid #0E1C36;
  border-left: 50px solid #C5D1EB;
  border-right:  50px solid #C5D1EB;
  border-bottom:  50px solid #C5D1EB;
  padding: 0px 150px 30px 150px;
}
